@import "../../sass/abstract/variables";

.products{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 100px;

    .productsContainer {
        width: 100%;
        
        .titleProducts{
            width: 100%;
            text-align: center;

            h2{
                position: relative;
                font-size: 2rem;
            }
            p{
                font-size: 3rem;
                font-weight: 600;
                margin-top: 5px;
                color: $color-secondary;
                span{
                    position: relative;
                }
            }
            margin-bottom: 50px;
        }

        .productsObj{
            width: 100%;
            height: 100vh;
            background: $color-gray-1;
        }
    }
}