//Colors

$color-gray: #ccc;
$color-white: #fff;
$color-black: #202020;
$color-primary: #744B28;
$color-secondary: #CDA582;
$color-terceary: #F1E4D9;
$color-gray-1: #525252;
$color-gray-2: #8D8D8D;
$color-linear-first: #C8A180;
$color-linear-secondy: #D9B79A;

// *** Utilities *** //

$container: 1320px;
$small: 576px;
$medium: 768px;
$large: 992px;
$x-large: 1200px;